@use "@/styles/mixins" as *;

.search {
  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-inline: 4.8rem 1.3rem;

    height: 5.6rem;
    width: 48rem;

    border-radius: 11.5rem;

    background: var(--main-bg);
    box-shadow: var(--base-shadow);

    &--error {
      border-bottom: 0.2rem solid var(--message-font-color);
    }

    &::before {
      @include pseudo(1.75rem);
      @include bg-img("../assets/search.png");

      @include dark-mode("&") {
        @include bg-img("../assets/white-search.png");
      }
    }

    @include mobile-version {
      max-width: 28.3rem;
      height: 4.8rem;
      padding-inline-start: 3rem;
    }
  }

  &__input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 11.5rem;
    background: var(--main-bg);

    font-size: var(--base-size);
    font-weight: var(--bold-weight);

    &::placeholder {
      font-weight: var(--normal-weight);
      color: var(--light-font-color);
    }
  }
}

.filter {
  font-size: var(--base-size);
  color: var(--base-font-color);
  padding-inline: 2rem;
  width: 20rem;
  height: 5.6rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: var(--main-bg);
  box-shadow: var(--base-shadow);

  &::placeholder {
    font-weight: var(--normal-weight);
    color: var(--light-font-color);
  }

  &__error {
    border-bottom: 0.2rem solid var(--message-font-color);
  }
}
